<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="frore.">
	<meta name="description" content="Simplifying travel management and operations for passenger maritime and aviation businesses.">

	{# Font Imports #}
	<link rel="stylesheet" href="https://use.typekit.net/gmv6nzn.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">

	{# Core Style #}
	<link rel="stylesheet" href="https://cdn.frore.co/css/style.css">

	{# Font Icons #}
	<link rel="stylesheet" href="https://cdn.frore.co/css/font-icons.css">

	{# Plugins/Components CSS #}
	<link rel="stylesheet" href="https://cdn.frore.co/css/swiper.css">

	{# Custom CSS #}
	<link rel="stylesheet" href="https://cdn.frore.co/css/theme.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="https://cdn.frore.co/images/favicon.ico" type="image/x-icon">

	{# Document Title
	============================================= #}
	<title>
        {{ settings.company.name | safe }} |
        {{ title | default(settings.company.tagline, true) }}
    </title>

    <!-- Paste this right before your closing </head> tag -->
    <script type="text/javascript">
        (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
    </script>

	{{ head | safe }}

</head>

<body class="stretched block-sticky-cards">

	{# Document Wrapper
	============================================= #}
	<div id="wrapper">

        {{ content | safe }}

	</div>{# #wrapper end #}

	{# Go To Top
	============================================= #}
	<div id="gotoTop" data-mobile="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="none"><circle cx="50" cy="50" r="40"></circle></svg></div>

	{# JavaScripts
	============================================= #}
	<script src="https://cdn.frore.co/js/jquery.js"></script>
	<script src="https://cdn.frore.co/js/functions.js"></script>

	{# Parallax Script
	============================================= #}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
	<script>var s = !SEMICOLON.Mobile.any() && skrollr.init({ forceHeight: false });</script>
	
	{# Add the Web3Forms script  #}
	<script src="https://web3forms.com/client/script.js" async defer></script>

    <script>
        // Replace YOUR_TOKEN with your Project Token
        mixpanel.init('b7d360127602679f4ccf143e7132ad58', {
            debug: false,
            track_pageview: true
        });

        // Send a default page view event with additional properties
        mixpanel.track_pageview({"page": "Landing"});

        // Set this to a unique identifier for the user performing the event.
        // eg: their ID in your database or their email address.
        {# mixpanel.identify(/* "<USER_ID"> */) #}

        // Form submission
		const form = document.getElementById("contactform");
		const result = document.getElementById("result");
		const loading = document.getElementById("loading");

		form.addEventListener("submit", function (e) {
			e.preventDefault();
			const hCaptcha = form.querySelector('textarea[name=h-captcha-response]').value;

			if (!hCaptcha) {
				result.innerHTML = "Please fill out captcha field";
				result.classList.remove("text-primary");
				result.classList.add("text-danger");
				return;
			}
			
			const formData = new FormData(form);
			const object = Object.fromEntries(formData);
			const json = JSON.stringify(object);
			
			result.innerHTML = "Please wait...";
			loading.classList.remove("d-none");

			fetch("https://api.web3forms.com/submit", {
				method: "POST",
				headers: {
				"Content-Type": "application/json",
				Accept: "application/json",
				},
				body: json,
			})
			.then(async (response) => {
				let json = await response.json();
				loading.classList.add("d-none");

				if (response.status == 200) {
					result.innerHTML = json.message;
					result.classList.remove("text-primary");
					result.classList.add("text-success");
				} else {
					console.log(response);
					result.innerHTML = json.message;
					result.classList.remove("text-primary");
					result.classList.add("text-danger");
				}
			})
			.catch((error) => {
				console.log(error);
				result.innerHTML = "Something went wrong!";
			})
			.then(function () {
				form.reset();
				mixpanel.track('Contact', {
					'Contact Form': 'Contact Form', 
				});
				setTimeout(() => {
					result.style.display = "none";
				}, 5000);
			});
		});
    </script>

</body>
</html>